<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.managerinfo.dao.MangerInfoDao">
    <!--查询负责给店长送货的所有司机-->
    <select id="getListDriver" parameterType="java.lang.String"
            resultType="com.xzsd.app.managerinfo.entity.ManagerInfo">
        select
        t3.user_name as userName,
        t3.phone as phone
        from t_store_info t1, t_driver_info t2, t_sys_user t3
        where t1.manager_id = #{userId}
        and t1.province = t2.province
        and t1.city = t2.city
        and t1.county = t2.county
        and t2.driver_id = t3.user_id
        and t1.is_delete = 0
        and t2.is_delete = 0
    </select>
</mapper>