<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.shoppingcart.dao.ShoppingCartDao">
    <!--新增购物车-->
    <insert id="addShoppingCart" parameterType="com.xzsd.app.shoppingcart.entity.ShoppingCart">
        insert into t_shopping_cart(
            id,
            user_id,
            goods_id,
            shop_count,
            is_delete,
            create_time,
            create_user,
            update_time,
            version
        )
        values (
            #{shopCartId},
            #{userId},
            #{goodsId},
            #{cartGoodsCount},
            0,
            now(),
            #{userId},
            now(),
            0
        )
    </insert>

    <!--查询购物车列表-->
    <select id="getListShoppingCart" parameterType="com.xzsd.app.shoppingcart.entity.ShoppingCart"
            resultType="com.xzsd.app.shoppingcart.entity.ShoppingCartVO">
        select
        t1.goods_id as goodsId,
        t2.goods_name as goodsName,
        t2.goods_image as goodsImagePath,
        t2.selling_price as goodsPrice,
        t1.id as shopCartId,
        t1.shop_count as cartGoodsCount
        from t_shopping_cart t1, t_goods_info t2
        where t1.goods_id = t2.id
        and t1.user_id = #{userId}
        and t1.is_delete = 0
        and t2.is_delete = 0
        order by t1.create_time desc
    </select>

    <!--修改购物车购买数量-->
    <update id="updateShoppingCart" parameterType="com.xzsd.app.shoppingcart.entity.ShoppingCart">
        update t_shopping_cart
        set
            shop_count = #{cartGoodsCount},
            update_user = #{userId},
            update_time = now(),
            version = version + 1
        where id = #{shopCartId}
    </update>

    <!--删除购物车-->
    <update id="deleteShoppingCart" parameterType="java.lang.String">
        update t_shopping_cart
        set
            is_delete = 1,
            update_user = #{userId},
            update_time = now(),
            version = version + 1
        where id in
        <foreach item="shopCartId" index="index" collection="listShopCartId" open="(" separator="," close=")">
            #{shopCartId}
        </foreach>
    </update>
</mapper>